<h2>
    {{ title }}
</h2>

<p class="bs-component">
    <a href="#" (click)="createObservable()" class="btn btn-primary">Create Observable</a>
    <a href="#" (click)="clearList()" class="btn btn-primary">Clear list</a>
</p>


<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>next()</th>
      <th>completed()</th>
      <th>Start</th>
    </tr>
  </thead>
  <tbody>
    <tr class="active" *ngFor='let source of ObservableList'>
      <td>{{ source.index }}</td>
      <td>{{ source.obj.id }}</td>
      <td>{{ source.completed }}</td>
      <td><a href="#" (click)="triggerObservable(source)" class="btn btn-success">Start</a></td>
    </tr>
  </tbody>
</table> 